:root {
  --font: #FFDF96;
  --header: #111214;
  --body: #363941;
  --subbody: #212327;
}

body {
  color: var(--font);
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--body);
  padding: 40px 0;
  background-size: repeat;
  background-position: center;
  image-rendering: pixelated;
  background-attachment: fixed;
}

h1 {
	font-size: 50px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 20px;
}

.window {
  position: relative;
  width: 930px;
  height: 691px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-sizing: border-box;
  font-size: 29px;
  font-family: Arial, sans-serif;
  background-color: var(--subbody);
  padding-top: 100px;
  padding-bottom: 100px;
  margin-bottom: 40px; /* Add spacing between windows */
  box-shadow: 10px 10px #111214;
}

.box-window {
  position: relative;
  width: 930px;
  height: 1800px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-sizing: border-box;
  font-size: 20px;
  font-family: Arial, sans-serif;
  background-color: var(--subwbody);
  padding-top: 100px;
  padding-bottom: 100px;
  margin-bottom: 40px;
  background-image: url('img/boxwindow.png');
  background-size: cover;
  background-position: center;
  image-rendering: pixelated;
  padding-left: 30px;
}

.box-window h2 {
  margin-bottom: -20px;
}

.box-window h3 {
  margin-bottom: -10px;
}

.box-window p {
  margin-bottom: -20px;
}

.content {
  flex: 1;
  overflow-y: auto;
  position: relative;
  z-index: 1;
  padding: 20px;
  padding-right: 15px;
  -webkit-overflow-scrolling: touch;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('img/window.png');
  background-size: cover;
  background-position: center;
  image-rendering: pixelated;
  z-index: 2;
  pointer-events: none;
}

.adholder {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 720px;
  margin: 20px 0;
  margin-bottom: 45px;
  background-color: var(--subbody);
  height: 90px;
  box-shadow: 10px 10px #111214;
}
